# Configurações do Banco de Dados
DB_URL=jdbc:url aqui
DB_USERNAME=exemplo
DB_PASSWORD=exemplo

# Configurações do Pool de Conexões (Hikari)
DB_POOL_MAX=numero aqui
DB_POOL_MIN=numero aqui

# Configurações de Log e JPA
JPA_DDL_AUTO=exemplo
SHOW_SQL=exemplo