# Configurações do Banco de Dados
DB_URL=jdbc:postgresql://localhost:5432/exemplo
DB_USERNAME=exemplo
DB_PASSWORD=exemplo

# Configurações do Pool de Conexões (Hikari)
DB_POOL_MAX=20
DB_POOL_MIN=5

# Configurações de Log e JPA
# Para PRODUCÃO: Use 'validate' ou 'none' em vez de 'update'
JPA_DDL_AUTO=update
SHOW_SQL=true

# Configurações de Segurança e JWT
# Colque chave longa para Hmac, em Base64 ou texto longo.
JWT_SECRET_KEY=exemplo

# Configurações de CORS Frontend (separado por vírgula)
CORS_ALLOWED_ORIGINS=http://localhost:4200